In [1]:
import csv
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/rahmat/Desktop/ML_Projects/output6/output5.csv')
df1.head(4)
df2 = pd.read_csv('/home/rahmat/Desktop/ML_Projects/output6/output6.csv')
df2.head(4)
df3 = pd.read_csv('/home/rahmat/Desktop/ML_Projects/output6/output7.csv')
df3.head(4)
df4 = pd.read_csv('/home/rahmat/Desktop/ML_Projects/output6/output8.csv')
df4.head(2)

,Plant Category,Seed Name,Average Temperature (2 m),Average Precipitation per day,Average Soil Temperature (0 to 6 cm),Average Soil Moisture (0-3 cm),Average Evapotranspiration,Average Sunshine Duration,Humidity(%),Soil Type,...,Wind Threshold(km/h),Heat Wave Maximum Temperature (°C),Rainfall Alert Maximum Rain (mm),Watering (hours interval),List of Fertilization,Time Period for Fertilization (weeks interval),Maximum Height of Plant (inches),maximum area this plant require(inches),soil depth for sowing(inches),Plant name
0,Vegetable,Stamdoperwt Kelvedon Wonder,18,5,15,0.25,3,24000,70,"[""Sandy loam"",""Clay loam"",""Loamy soil""]",...,30,40,20,48,"[""Nitrogen-based fertilizer"",""Potassium-based ...",4,24,12,2,stamdoperwt kelvedon wonder
1,Flowering plant,Stampeul Norli,25,5,18,0.3,4,8000,70,"[""Loam"",""Sandy loam"",""Clay loam""]",...,30,35,50,48,"[""NPK"",""Organic compost""]",4,24,12,1,stampeul norli

In [3]:
df_combined = pd.concat([df1,df2,df3,df4])
df_combined.to_csv('combine_file.csv')
# frames = [df,df1,df2,df3]
# result = concat(frames,ignore_index=True)

In [4]:
df5 = pd.read_csv('/home/rahmat/Desktop/ML_Projects/combine_file.csv')
df5.head(2)

,Unnamed: 0,Plant Category,Seed Name,Average Temperature (2 m),Average Precipitation per day,Average Soil Temperature (0 to 6 cm),Average Soil Moisture (0-3 cm),Average Evapotranspiration,Average Sunshine Duration,Humidity(%),...,Watering (hours interval),List of Fertilization,Time Period for Fertilization (weeks interval),Maximum Height of Plant (inches),maximum area this plant require(inches),soil depth for sowing(inches),Plant name,Maximum area this plant require (inches),Soil depth for sowing (inches),Heat Wave Maximum Temperature (°C)
0,0,Herbaceous perennial,Monarde citron,22.5,3.5,18,0.25,3,30000,70,...,48,"[""Organic compost"",""Liquid seaweed fertilizer""]",4,36,12,1,monarde citron,NaN,NaN,NaN
1,1,Flowering Plant,Montana Jack,18°C,10 mm,15°C,0.3 m³/m³,5 mm/day,8 hours,60%,...,48 hours,"[""Nitrogen-based fertilizer"",""Phosphorus-based...",8 weeks,24 inches,12 inches,1 inch,montana jack,NaN,NaN,NaN

In [5]:
df_combined.columns

Index(['Plant Category', 'Seed Name', 'Average Temperature (2 m)',
       'Average Precipitation per day', 'Average Soil Temperature (0 to 6 cm)',
       'Average Soil Moisture (0-3 cm)', 'Average Evapotranspiration',
       'Average Sunshine Duration', 'Humidity(%)', 'Soil Type',
       'Best Growing Areas', 'Season', 'Wind Threshold(km/h)',
       'Heat Wave Maximum Temprature (°C)', 'Rainfall Alert Maximum Rain (mm)',
       'Watering (hours interval)', 'List of Fertilization',
       'Time Period for Fertilization (weeks interval)',
       'Maximum Height of Plant (inches)',
       'maximum area this plant require(inches)',
       'soil depth for sowing(inches)', 'Plant name',
       'Maximum area this plant require (inches)',
       'Soil depth for sowing (inches)', 'Heat Wave Maximum Temperature (°C)'],
      dtype='object')

In [6]:


# Get the column names for each DataFrame
columns_df1 = list(df1.columns)
columns_df2 = list(df2.columns)
columns_df3 = list(df3.columns)
columns_df4 = list(df4.columns)

# Function to compare columns index by index
def compare_columns(columns1, columns2):
    differences = []
    for i, (col1, col2) in enumerate(zip(columns1, columns2)):
        if col1 != col2:
            differences.append((i, col1, col2))
    return differences

# Check for differences
differences_df1_df2 = compare_columns(columns_df1, columns_df2)
differences_df1_df3 = compare_columns(columns_df1, columns_df3)
differences_df1_df4 = compare_columns(columns_df1, columns_df4)
differences_df2_df3 = compare_columns(columns_df2, columns_df3)
differences_df2_df4 = compare_columns(columns_df2, columns_df4)
differences_df3_df4 = compare_columns(columns_df3, columns_df4)

# Print the differences
def print_differences(differences, name1, name2):
    if differences:
        print(f"Differences between {name1} and {name2}:")
        for diff in differences:
            print(f"Index {diff[0]}: {diff[1]} != {diff[2]}")
    else:
        print(f"No differences between {name1} and {name2}")

print_differences(differences_df1_df2, 'df1', 'df2')
print_differences(differences_df1_df3, 'df1', 'df3')
print_differences(differences_df1_df4, 'df1', 'df4')
print_differences(differences_df2_df3, 'df2', 'df3')
print_differences(differences_df2_df4, 'df2', 'df4')
print_differences(differences_df3_df4, 'df3', 'df4')

No differences between df1 and df2
Differences between df1 and df3:
Index 19: maximum area this plant require(inches) != Maximum area this plant require (inches)
Index 20: soil depth for sowing(inches) != Soil depth for sowing (inches)
Differences between df1 and df4:
Index 13: Heat Wave Maximum Temprature (°C) != Heat Wave Maximum Temperature (°C)
Differences between df2 and df3:
Index 19: maximum area this plant require(inches) != Maximum area this plant require (inches)
Index 20: soil depth for sowing(inches) != Soil depth for sowing (inches)
Differences between df2 and df4:
Index 13: Heat Wave Maximum Temprature (°C) != Heat Wave Maximum Temperature (°C)
Differences between df3 and df4:
Index 13: Heat Wave Maximum Temprature (°C) != Heat Wave Maximum Temperature (°C)
Index 19: Maximum area this plant require (inches) != maximum area this plant require(inches)
Index 20: Soil depth for sowing (inches) != soil depth for sowing(inches)

In [7]:
dict = {'maximum area this plant require(inches)':'Maximum area this plant require (inches)',
        'soil depth for sowing(inches)':'Soil depth for sowing (inches)'}
df2.rename(columns=dict,inplace=True)

dict1 = {'maximum area this plant require(inches)':'Maximum area this plant require (inches)',
         'soil depth for sowing(inches)':'Soil depth for sowing (inches)'}
df1.rename(columns=dict1,inplace=True)

dict2 = {'Heat Wave Maximum Temperature (°C)':'Heat Wave Maximum Temprature (°C)',
         'maximum area this plant require(inches)':'Maximum area this plant require (inches)',
        'soil depth for sowing(inches)':'Soil depth for sowing (inches)'}
df4.rename(columns=dict2,inplace = True)

In [8]:


# Get the column names for each DataFrame
columns_df1 = list(df1.columns)
columns_df2 = list(df2.columns)
columns_df3 = list(df3.columns)
columns_df4 = list(df4.columns)

# Function to compare columns index by index
def compare_columns(columns1, columns2):
    differences = []
    for i, (col1, col2) in enumerate(zip(columns1, columns2)):
        if col1 != col2:
            differences.append((i, col1, col2))
    return differences

# Check for differences
differences_df1_df2 = compare_columns(columns_df1, columns_df2)
differences_df1_df3 = compare_columns(columns_df1, columns_df3)
differences_df1_df4 = compare_columns(columns_df1, columns_df4)
differences_df2_df3 = compare_columns(columns_df2, columns_df3)
differences_df2_df4 = compare_columns(columns_df2, columns_df4)
differences_df3_df4 = compare_columns(columns_df3, columns_df4)

# Print the differences
def print_differences(differences, name1, name2):
    if differences:
        print(f"Differences between {name1} and {name2}:")
        for diff in differences:
            print(f"Index {diff[0]}: {diff[1]} != {diff[2]}")
    else:
        print(f"No differences between {name1} and {name2}")

print_differences(differences_df1_df2, 'df1', 'df2')
print_differences(differences_df1_df3, 'df1', 'df3')
print_differences(differences_df1_df4, 'df1', 'df4')
print_differences(differences_df2_df3, 'df2', 'df3')
print_differences(differences_df2_df4, 'df2', 'df4')
print_differences(differences_df3_df4, 'df3', 'df4')

No differences between df1 and df2
No differences between df1 and df3
No differences between df1 and df4
No differences between df2 and df3
No differences between df2 and df4
No differences between df3 and df4

In [28]:
df_combined = pd.concat([df1,df2,df3,df4])
df_combined.to_csv('combine_file.csv')

df5 = pd.read_csv('/home/rahmat/Desktop/ML_Projects/combine_file.csv')
df5.head(2)

,Unnamed: 0,Plant Category,Seed Name,Average Temperature (2 m),Average Precipitation per day,Average Soil Temperature (0 to 6 cm),Average Soil Moisture (0-3 cm),Average Evapotranspiration,Average Sunshine Duration,Humidity(%),...,Wind Threshold(km/h),Heat Wave Maximum Temprature (°C),Rainfall Alert Maximum Rain (mm),Watering (hours interval),List of Fertilization,Time Period for Fertilization (weeks interval),Maximum Height of Plant (inches),Maximum area this plant require (inches),Soil depth for sowing (inches),Plant name
0,0,Herbaceous perennial,Monarde citron,22.5,3.5,18,0.25,3,30000,70,...,40,35,25,48,"[""Organic compost"",""Liquid seaweed fertilizer""]",4,36,12,1,monarde citron
1,1,Flowering Plant,Montana Jack,18°C,10 mm,15°C,0.3 m³/m³,5 mm/day,8 hours,60%,...,50 km/h,35°C,50 mm,48 hours,"[""Nitrogen-based fertilizer"",""Phosphorus-based...",8 weeks,24 inches,12 inches,1 inch,montana jack

In [29]:
spli = df_combined[['Average Temperature (2 m)','Average Precipitation per day','Average Soil Temperature (0 to 6 cm)','Average Sunshine Duration','Humidity(%)','Rainfall Alert Maximum Rain (mm)']]

In [30]:
spli.to_csv('split.csv')
d = pd.read_csv('split.csv')
d.head(4)
# precipitation,rain , sunshine , soil temperature, temperature , humidity

,Unnamed: 0,Average Temperature (2 m),Average Precipitation per day,Average Soil Temperature (0 to 6 cm),Average Sunshine Duration,Humidity(%),Rainfall Alert Maximum Rain (mm)
0,0,22.5,3.5,18,30000,70,25
1,1,18°C,10 mm,15°C,8 hours,60%,50 mm
2,2,22,5,18,18000,60,20
3,3,22,5,18,300,60,20

In [31]:
d['Average Temperature (2 m)'] =d['Average Temperature (2 m)'].astype(str).str.strip('°C ')
d['Average Temperature (2 m)'] =d['Average Temperature (2 m)'].astype(str).str.replace(' ','')
d['Average Temperature (2 m)'] =d['Average Temperature (2 m)'].astype(str).str.replace(' to ','-')
split_columns = d['Average Temperature (2 m)'].str.split('-', expand=True)
d[['Average Temperature (2 m)_1', 'Average Temperature (2 m)_2']] = split_columns
d['Average Temperature (2 m)_1'].unique()

array(['22.5', '18', '22', '20', '25', '25.6', '21', '24.5', '28.5', '15',
       '24', '26', '27.5', '23', '', '10', '25.5', '28', '30', '16',
       '14.5', '19', '16.5', '20.5', '8', '15to25', '12.5', '12', '18.5',
       '0', '10.5', '21.5', '17', '7', '14', '15.5', '5', '15.6', '17.5',
       '15.3', '19.7', '23.5', '10to20', '18.6', '20.3', '4.5', 'Unknown',
       '27', '7.5', '25.3', '30.5', '10.6', '10to25', '19.5'],
      dtype=object)

In [32]:
d['Average Precipitation per day'] =d['Average Precipitation per day'].astype(str).str.strip(' mm ')

split_columns = d['Average Precipitation per day'].str.split('-', expand=True)
d[['Average Precipitation per day_1', 'Average Precipitation per day_2']] = split_columns
d['Average Precipitation per day_1'].unique()

array(['3.5', '10', '5', '6.2', '4', '2', '2.3', '8.7', '3', '8.2', '4.9',
       '5.6', '5 ', '12.3', '1', '5.2', '2.5', '', '0', '5.7', '5 to 10',
       '10.2', '3.2', '5.4', '3.8', '5.3', '5.8', '3.4', '4.7', '10 ',
       '4.5', '2 ', '6.7', 'Varies depending on the region', '4.2', '3 ',
       'nan', '7.8', '4.3', '2.8', '8', '6.3', '6', '4.6', '1.5', '0.5',
       'Unknown', '1 ', '3.1', '8.9', '2 to 5', '4.8'], dtype=object)

In [33]:
d['Average Soil Temperature (0 to 6 cm)'] =d['Average Soil Temperature (0 to 6 cm)'].astype(str).str.strip(' °C ')

split_columns = d['Average Soil Temperature (0 to 6 cm)'].str.split('-', expand=True)
d[['Average Soil Temperature (0 to 6 cm)_1', 'Average Soil Temperature (0 to 6 cm)_2']] = split_columns
d['Average Soil Temperature (0 to 6 cm)_1'].unique()

array(['18', '15', '22', '20', '23.8', '14', '28', '18.7', '21.3', '26.3',
       '16', '24', '12', '10', '22.3', '25.2', '25', '18.3', '15 ',
       '22.1', '2', '21.7', '', '35', '20.2', '12.8', '15.2', '18.2', '5',
       '14.2', '8', '15 to 20', '10.8', '0', '21.8', '12.3', '15.7',
       '22.7', '21.2', '15.3', '16.8', '10 ', '4', '11.8', '10.2', '20.3',
       '15.8', '8 ', '3', '14.8', '16.5', '12 ', '13.8', '5.1', '19.8',
       '20.8', '19.2', '18.9', '10.3', '17', '10 to 15', '13', '17.2',
       '15.4', '27', '30', '18.5', '6.2', '8.2', '21', 'Unknown', '18 ',
       '8.7', '10.5', '23.4', '4 ', '12.7', '22.8'], dtype=object)

In [38]:

d['Average Sunshine Duration'] =d['Average Sunshine Duration'].astype(str).str.replace(' hours','h')
d['Average Sunshine Duration'] =d['Average Sunshine Duration'].astype(str).str.replace(' seconds','s')
split_columns = d['Average Sunshine Duration'].str.split('-', expand=True)
d[['Average Sunshine Duration_1', 'Average Sunshine Duration_2']] = split_columns
d['Average Sunshine Duration'].unique()

array(['30000', '8h', '18000', '300', '3000', '6000', '28500', '3600',
       '600', '5000', '24000', '600s', '2400-2800', '8000', '28800',
       '12000', '43200', '4000-5000', '60000', '7200', '2000-2500',
       '6000-8000', '6-8', '3000s', '6 - 8', '18000-22000', '300s',
       '18000-20000', '18000s', '24000-28000', '600-800', '3600s', ' ',
       '6000-7000', '28000', '900', '10s', '2000', '54000', '1200-1500',
       '21600', '3000-4000', '25000', '4-6', '10000', '3000-3500', '4-8',
       '2400', '6 to 8', '20000', '0', '5000-6000', '23000', '23400',
       '2400s', '24000-30000', '3600-4000', '6h', '26000', '23500',
       '18000 - 22000', '1200-1600', '2400-2600', '4200s', '5-8',
       '5,400s', '32400', '5000s', '3000 - 3500', '2000-2200',
       '18000-21000', '120s', '32000', '6-8h', '4 - 6', '8-10', '9000',
       '36000', '6300', '500s', '6000 - 8000',
       'Varies depending on the region', '26400', '4-8h', '27000', '12h',
       '4200', '3600 - 4200', 'nan', '4500', '24000-27000', '18000-23000',
       '24000-26000', '3200', '1800-2200', '4-6s', '4000', '5400',
       '1200 to 1600', '1800s', '2800s', '800s', '240-300', '25600',
       '4-6h', '1800', '18000 - 20000', '500-800', '31500', '20000-25000',
       '18000-25000', '8000-9000', 'Unknowns', '240s', '22400', '86400',
       '24000 - 26000', '24000 - 30000', '6 - 8h', '40000', '4800',
       '180s', '8', '24000 - 28000', '240', '25800', '45000',
       '18000-24000', '25200'], dtype=object)

In [35]:
d['Humidity(%)'] =d['Humidity(%)'].astype(str).str.strip(' % ')

split_columns = d['Humidity(%)'].str.split('-', expand=True)
d[['Humidity(%)_1', 'Humidity(%)_2']] = split_columns
d['Humidity(%)_1'].unique()

array(['70', '60', '65', '40', '75', '50', '40 ', '', '20', '55',
       '40 to 60', '80', '0', '60 ', '45',
       'Varies depending on the region', '50 ', '30', 'Unknown', '78'],
      dtype=object)

In [36]:
d['Rainfall Alert Maximum Rain (mm)'] =d['Rainfall Alert Maximum Rain (mm)'].astype(str).str.strip(' mm ')

split_columns = d['Rainfall Alert Maximum Rain (mm)'].str.split('-', expand=True)
d[['Rainfall Alert Maximum Rain (mm)_1', 'Rainfall Alert Maximum Rain (mm)_2']] = split_columns
d['Rainfall Alert Maximum Rain (mm)_1'].unique()

array(['25', '50', '20', '30', '100', '10', '15', '40', '', '0', '20 ',
       'Varies depending on the region', 'nan', 'Unknown', '10 ', '2000',
       '50 '], dtype=object)

In [37]:
sp = d[['Average Temperature (2 m)_1','Average Temperature (2 m)_2','Average Precipitation per day_1','Average Precipitation per day_2',
        'Average Soil Temperature (0 to 6 cm)_1','Average Soil Temperature (0 to 6 cm)_2','Average Sunshine Duration_1','Average Sunshine Duration_2',
        'Humidity(%)_1','Humidity(%)_2','Rainfall Alert Maximum Rain (mm)_1','Rainfall Alert Maximum Rain (mm)_2']]

sp.to_csv('sp.csv')
dff = pd.read_csv('sp.csv')
dff.head()

,Unnamed: 0,Average Temperature (2 m)_1,Average Temperature (2 m)_2,Average Precipitation per day_1,Average Precipitation per day_2,Average Soil Temperature (0 to 6 cm)_1,Average Soil Temperature (0 to 6 cm)_2,Average Sunshine Duration_1,Average Sunshine Duration_2,Humidity(%)_1,Humidity(%)_2,Rainfall Alert Maximum Rain (mm)_1,Rainfall Alert Maximum Rain (mm)_2
0,0,22.5,NaN,3.5,NaN,18,NaN,30000,NaN,70,NaN,25,NaN
1,1,18,NaN,10,NaN,15,NaN,8h,NaN,60,NaN,50,NaN
2,2,22,NaN,5,NaN,18,NaN,18000,NaN,60,NaN,20,NaN
3,3,22,NaN,5,NaN,18,NaN,300,NaN,60,NaN,20,NaN
4,4,18,NaN,5,NaN,22,NaN,3000,NaN,70,NaN,50,NaN